<main class="event_main">
  <div class="circle circle_animate"></div>
  <section class="event_sec1">
    <article class="event_arti1" id="js-load" >
      <div class="title">
        <h2 class="title_h2">EVENT</h2>
        <ul class="title_nav1">
            <li><a class="active" href="">진행중인 이벤트</a></li>
            <li><a href="">이벤트 당첨자</a></li>
            <li><a href="">CJ ONE 멤버십</a></li>
            <li><a href="">제휴 혜택</a></li>
        </ul>
      </div>
      <p class="event_pchide">다양한 <span>진행중인 이벤트</span>를 즐겨보세요!</p>
      <ul class="event_contwrap">
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD4.png" alt="ad4">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[캠페인]</h6>
                  <h5>플랜트러브 친환경 장바구니 출시</h5>
                </div>
                <div class="event_datetxt"></div>
                  <p>2022.05.02 ~ 2022.05.31</p>
                  <div class="event_btnplus"></div>
                </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD1.png" alt="ad1">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[딜리버리]</h6>
                  <h5>쿠팡이츠 3천원 할인</h5>
                </div>
                <div class="event_datetxt">
                  <p>2022.05.16 ~ 2022.05.22</p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD2.png" alt="ad2">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[딜리버리]</h6>
                  <h5>요기요 3천원 할인</h5>
                </div>
                <div class="event_datetxt">
                  <p>2022.05.09 ~ 2022.05.26</p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD3.png" alt="ad3">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[딜리버리]</h6>
                  <h5>배달의민족 2천원 할인</h5>
                </div>
                <div class="event_datetxt">
                  <p>2022.05.03 ~ 2022.05.31</p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD5.png" alt="ad5">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[통신사 멤버십]</h6>
                  <h5>KT 멤버십 VVIP/VIP 혜택</h5>
                </div>
                <div class="event_datetxt">
                  <p>2022.04.01 ~ 2023.03.31</p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD6.png" alt="ad6">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[금융/결제]</h6>
                  <h5>네이버페이 3천원 적립</h5>
                </div>
                <div class="event_datetxt">
                  <p>2022.01.24 ~ 2022.07.24</p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD7.png" alt="ad7">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[통신사 멤버십]</h6>
                  <h5>12월 SKT 멤버십 변경 안내</h5>
                </div>
                <div class="event_datetxt">
                  <p>2021.12.01 ~ 2022.12.31</p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="../img/AD8.png" alt="ad8">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6>[금융/결제]</h6>
                  <h5>현대카드 일상 할인팩</h5>
                </div>
                <div class="event_datetxt">
                  <p>2021.11.25 ~ 2022.11.24</p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="event_li js-load">
          <a href="/event_view">
            <img src="" alt="ad9">
            <div class="event_context">
              <div class="event_contents">
                <div class="event_subject">
                  <h6></h6>
                  <h5></h5>
                </div>
                <div class="event_datetxt">
                  <p></p>
                  <div class="event_btnplus"></div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <a class="event_btnmob btn_wrap" id="js-btn-wrap" href="javascript:;">
        <p>DISCOVER MORE</p>
      </a>
    </section>
    </article>
  </section>
  <section class="event_sec2">
    <article class="event_arti2">
      <div class="event_facebook">
        <h2 class="title_h2">Facebook</h2>
        <p>@TOUSlesJOURS</p>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3
          A%2F%2Fwww.facebook.com%2FTOUSlesJOURS&tabs=timeline&width=355&height=
          425&small_header=false&adapt_container_width=true&hide_cover=false&show_
          facepile=true&appId" width="355" height="425" style="border:none;overflow:hidden" 
          scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; 
          encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
      <div class="event_instagram">
        <h2 class="title_h2">Instagram</h2>
        <p>@touslesjours_kr</p>
        <ul class="event_instimg">
          <li>
            <a href="https://www.instagram.com/p/CdmfSDPr3_F/">
              <img src="../img/insta1.png" alt="insta1">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/p/Cdew7luFG03/">
              <img src="../img/insta2.png" alt="insta2">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/p/CdXCidFh6vi/">
              <img src="../img/insta3.png" alt="insta3">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/p/CdPUKEtL8vJ/">
              <img src="../img/insta4.png" alt="insta4">
            </a>
          </li>
          <li class="event_mobhide">
            <a href="https://www.instagram.com/p/CdNq2cePGV2/">
              <img src="../img/insta5.png" alt="insta5">
            </a>
          </li>
          <li class="event_mobhide">
            <a href="https://www.instagram.com/p/CdNI2jxJoBr/">
              <img src="../img/insta6.png" alt="insta6">
            </a>
          </li>
          <li class="event_mobhide">
            <a href="https://www.instagram.com/p/CdIMSr-hVLb/">
              <img src="../img/insta7.png" alt="insta7">
            </a>
          </li>
          <li class="event_mobhide">
            <a href="https://www.instagram.com/p/CdF0ArorK1H/">
              <img src="../img/insta8.png" alt="insta8">
            </a>
          </li>
        </ul>
      </div>
    </article>
  </section>
</main>
<script src="../js/btnmore_event.js"></script>
<script src="../js/top_btn.js"></script>
