<main class="list_view">
    <div class="circle circle_animate"></div>
    <section class="title">
        <h2 class="title_h2">Event</h2>
        <ul class="title_nav1">
            <li><a class="active" href="">진행중인 이벤트</a></li>
            <li><a href="">이벤트 당첨자</a></li>
            <li><a href="">CJ ONE 멤버십</a></li>
            <li><a href="">제휴 혜택</a></li>
        </ul>
    </section>
    <section class="list_veiw_wrap">
        <div class="list_view_title">
            <em>NEW!</em>
            <p class="date_period">2022.05.02 ~ 2022.06.10</p>
            <h3>플랜트러브 친환경 장바구니 출시</h3>
        </div>
        <div class="list_view_contents">
            <img src="../img/202242911233259198.jpg" alt="" />
            <h4>10,000원 이상 구매 시, 플랜트 러브 친환경 장바구니 4,500원</h4>
            <p>
                < 유의사항 > <br />
                - 매장방문 결제 시 참여 가능합니다.(온라인쇼핑몰, 배달앱 등으로 주문시 참여불가)<br />
                - 최종결제금액 10,000원 이상 시 해당 이벤트 참여 가능합니다.<br />
                - 영수증 1건당 플랜트러브 장바구니 1개 할인금액으로 구매 가능합니다.<br />
                - 이벤트 참여로 할인 적용된 굿즈 금액에 대해서는 제휴/임직원 할인 불가합니다.<br />
                - CJ ONE 적립 가능합니다.<br />
                - MMS쿠폰사용 가능합니다.<br />
                - 굿즈 별도 구매 시, 표기된 단품 가격으로 구매 가능합니다.(단품 가격에서 제휴 할인/임직원 할인가능)<br />
                - 매장별 잔여 수량, 판매가격, 행사 내용이 상이할 수 있으니 방문 전 매장문의 바랍니다.<br />
                - 수량 소진 시 행사가 조기 종료 될 수 있습니다.<br />
                - 점포별행사 진행 여부와 내용은 상이할 수 있으므로, 행사관련 자세한 내용은 매장에 사전 문의 후<br />
                이용해주세요. <br />
            </p>
        </div>
        <div class="list_view_btn">
            <a href="/event">GO TO LIST</a>
        </div>
    </section>
</main>
<script src="../js/top_btn.js"></script>
