<main class="intro">
    <section class="intro_mainbnr">
        <div class="mainbnr_img"></div>
        <div class="mainbnr_txt">
            <p>좋은 재료로 만들어 건강하고, 매장에서 갓 구워 신선한 빵과 케이크를 만날 수 있는 곳.</p>
            <h2>
                여기는 신선함이 가득한 베이커리<br />
                뚜레쥬르입니다.
            </h2>
        </div>
    </section>
    <section class="intro_info_wrap intro_box">
        <article class="intro_info1">
            <div class="left_wrap">
                <div class="left_img">
                    <div class="img1"></div>
                </div>
                <div class="left_txt">
                    <h2>
                        매일매일(Tous Les Jours),<br />
                        매장에서 직접 굽는 <b>신선한 베이커리</b>
                    </h2>
                    <p>
                        뚜레쥬르는(Tous Les Jours - 프랑스어로 ‘매일매일’이라는 뜻) 그 이름의 의미처럼<br>매일매일 매장에서 직접 굽는 신선함을 가장 큰
                        가치로 하는 베이커리 입니다.
                    </p>
                </div>
            </div>
            <div class="right_wrap">
                <div class="right_img">
                    <div class="img2"></div>
                </div>
            </div>
        </article>
        <article class="intro_info2">
            <div class="left_wrap  int_transition int_transition_right">
                <div class="left_img">
                    <div class="img1 "></div>
                    <div class="w70">
                        <div class="img2 int_none"></div>
                    </div>
                </div>
            </div>
            <div class="right_wrap int_transition int_transition_up">
                <img class="deco_img int_none" src="../img/intro/intro_bg1.png" alt="butter deco image" />
                <div class="right_txt" >
                    <h2><b>갓 구운 신선함</b>이<br />매장을 가득 채웁니다.</h2>
                    <p>
                        오븐에서 방금 꺼낸 빵이 가장 맛있다는 것을 알기에,<br />
                        뚜레쥬르는 지금도 더욱 따뜻하고 촉촉한 갓 구운 빵을 제공하기 위해 끊임없이 노력합니다.<br />
                        매장에서 직접 굽는 것에 그치지 않고, 언제라도 따끈한 빵을 만날 수 있게 더욱 자주 굽고,<br />
                        고객들이 필요한 시간에 맞춰 굽는 등 세심하고 배려가 담긴 서비스도 준비하고 있습니다.
                    </p>

                </div>
                <div class="bgtxt">Tous Les Jours</div>
            </div>
        </article>
        <article class="intro_vid vid1">
            <video autoplay="autoplay" loop="loop" muted="" playsinline="">
                <source src="../img/intro/video5.mp4" />
            </video>
            <img src="../img/intro/veido.png" alt="bread image">
        </article>
        <article class="intro_info3">
            <div class="left_wrap">
                <h2 class=" int_transition int_transition_up">좋은 밀가루를 만드는 회사의<br /><b>베이커리 브랜드</b></h2>
            </div>
            <div class="right_wrap">
                <div class="bgtxt">Bakery</div>
                <div class="img_wrap">
                    <img src="../img/intro/intro_hover1.png" alt="pretzel dough" />
                    <img class="baked" src="../img/intro/intro_hover2.png" alt="baked pretzel" />
                </div>
            </div>
        </article>
        <article class="intro_info4">
            <h2>
                선별된 좋은 재료를 사용하여<br />
                <b>더욱 건강한 제품</b>을 제공하고자 합니다.
            </h2>
            <div class="img_wrap">
                <div>
                    <div class="hover_wrap">
                        <p>CJ제일제당 60년 제분기술을 노하우로 만든</p>
                        <span>베이커리 전용 밀가루</span>
                    </div>
                    <div class="img1"></div>
                </div>
                <div>
                    <div class="hover_wrap">
                        <p>오직 바람과 햇볕의 힘으로만 얻은 귀한 천일염</p>
                        <span>신안 천일염</span>
                    </div>
                    <div class="img2"></div>
                </div>
                <div>
                    <div class="hover_wrap">
                        <p>유기농 인증을 받은 전라북도 완주군 대광목장의</p>
                        <span>순수한 유기농 우유</span>
                    </div>
                    <div class="img3"></div>
                </div>
            </div>
        </article>
    </section>
    <section class="intro_bi intro_box">
        <article class="intro_bi1">
            <div class="bi_title">
                <p>
                    <em>Fresh Bread Everyday <span>Tus Les Jours</span></em>
                </p>
                <h3>Tous Les Jours Identity</h3>
            </div>
            <div class="identity">
                <div class="logo_txt">
                    <h4>Brand Identity</h4>
                    <p>
                        새로워진 뚜레쥬르를 나타내는 엠블럼은 매일매일"새로운 반죽을 밀어 신선한 맛과 향을 퍼뜨린다"는<br />
                        의미로 신선한 반죽을 밀대로 미는 모습을 표현하였습니다.
                    </p>
                    <div class="rotate_circle">
                        <img src="../img/intro/circle-img.png" alt="background dot circle">
                    </div>
                </div>
                <div class="logo_img">
                    <img class="int_transition int_transition_up" src="../img/intro/identity_logo1.jpg" alt="가로형 로고이미지" />
                    <img class="int_transition int_transition_up" style="transition-delay: 0.2s" src="../img/intro/identity_logo2.jpg" alt="원형 로고이미지" />
                </div>
                <div class="color_palette int_transition int_transition_up">
                    <h5>Core Color Palette</h5>
                    <div class="palette_wrap">
                        <div class="palette_box">
                            <div class="color_chip green"></div>
                            <div class="palette_txt">
                                <p>English green</p>
                                <span>PANTONE 3305c</span>
                            </div>
                        </div>
                        <div class="palette_box">
                            <div class="color_chip orange"></div>
                            <div class="palette_txt">
                                <p>Orange</p>
                                <span>PANTONE 1505c</span>
                            </div>
                        </div>
                    </div>
                    <div class="palette_wrap">
                        <div class="palette_box">
                            <div class="color_chip ivory"></div>
                            <div class="palette_txt">
                                <p>Ivory</p>
                                <span>PANTONE 7499c</span>
                            </div>
                        </div>
                        <div class="palette_box">
                            <div class="color_chip gold"></div>
                            <div class="palette_txt">
                                <p>Rose gold</p>
                                <span>PANTONE 10143c</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="intro_vid vid2">
            <video autoplay="autoplay" loop="loop" muted="" playsinline="">
                <source src="../img/intro/toast2.mp4" />
            </video>
            <img src="../img/intro/toast2.png" alt="toast image">
            <div class="vid_txt">
                <h4>Fresh Bread Everyday</h4>
                <p>좋은 재료로 만들어 건강하고, 매장에서 갓 구워 신선한 빵과 케이크를 만나보세요.</p>
            </div>
        </article>
        <article class="management">
            <h4 class="int_transition int_transition_fadein">Management Philosophy</h4>
            <ul class="cercle_wrap">
                <li class="green">
                    <img src="../img/intro/philo-img03.png" alt="cooking icon" />
                    자연 그대로의 신선함
                    <em>line</em>
                </li>
                <li class="ivory">
                    <img src="../img/intro/philo-img02.png" alt="bread icon" />
                    건강하고 풍부한
                    <em class="gray">line</em>
                </li>
                <li class="orange">
                    <img loading="lazy" src="../img/intro/philo-img01.png" alt="smile icon" />
                    맛있는 생동감의 상징
                    <em>line</em>
                </li>
            </ul>
        </article>
    </section>
    <section class="intro_history intro_box">
        <h4>Our History</h4>
        <article class="his_swiper his_wrap int_transition int_transition_up">
            <div class="his_slide swiper-wrapper">
                <figure class="swiper-slide">
                    <img src="../img/intro/1n.png" alt="1997">
                    <figcaption>
                        브랜드 아이덴티티 수립- ‘매일매일 갓 구운 빵, 뚜레쥬르’<br>
                        뚜레쥬르 1호점 오픈(구리 교문점)
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/2n.png" alt="1999">
                    <figcaption>
                        9월 100호점 오픈
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/3n.png" alt="2002">
                    <figcaption>
                        카페형 매장의 최초 도입, 운영<br>
                        (커피/샌드위치/과일주스 판매 복합 매장)
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/4n.png" alt="2004">
                    <figcaption>
                        미국 1호점(밸리점) 오픈<br>
                        매출 1,000억원 달성
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/5n.png" alt="2008">
                    <figcaption>
                        KCSI/NCSI 1위 수상
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/6n.png" alt="2009">
                    <figcaption>
                        국내 1,000호점 오픈<br>
                        (부천 중흥마을점)
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/7n.png" alt="2010">
                    <figcaption>
                        브랜드 아이덴티티 리뉴얼<br>
                        '맛있고 건강한 홈메이드 베이커리'<br>
                        한국 서비스 품질지수 (KS-SQI) 4년 연속 1위 수상
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/8n.png" alt="2011">
                    <figcaption>
                        라뜰리에 뚜레쥬르 오픈(강남점, CJ제일제당센터점)<br>
                        인도네시아 1호점(스나이안시티몰점)오픈<br>
                        MF체결 (필리핀, 캄보디아, 말레이시아)
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/9n.png" alt="2014">
                    <figcaption>
                        뚜레쥬르 브랑제리&비스트로<br>
                        (중국 북경 왕징 한국성)오픈
                    </figcaption>
                </figure>
                <figure class="swiper-slide">
                    <img src="../img/intro/10n.png" alt="2016">
                    <figcaption>
                        몽골 마스터프랜차이즈 협약 체결<br>
                        브랜드 아이덴티티 리뉴얼<br>
                        신선함이 가득한 베이커리 뚜레쥬르"
                    </figcaption>
                </figure>
            </div>
        </article>
        <div class="swiper-pagination"></div>
        <img class="his_nav_prev" src="../img/intro/prev-btn_history.png" alt="prev button"></img>
        <img class="his_nav_next" src="../img/intro/next-btn_history.png" alt="next button"></img>
    </section>
    <article class="scrollnav">
        <ul class="scrollnav_wrap">
            <li><span class="scrollnav_circle active"></span><div class="scrollnav_txt">story</div></li>
            <li><span class="scrollnav_circle"></span><div class="scrollnav_txt">identity</div></li>
            <li><span class="scrollnav_circle"></span><div class="scrollnav_txt">History</div></li>
        </ul>
        
    </article>
</main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/intro.js"></script>
    <script src="../js/top_btn.js"></script>
