<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>건강한 데일리 베이커리, 뚜레쥬르</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/search.css" />
    <link rel="stylesheet" href="../css/top_btn.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/intro.css" />
    <link rel="stylesheet" href="../css/animation.css" />
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/menu_sub.css" />
    <link rel="stylesheet" href="../css/event.css" />
    <link rel="stylesheet" href="../css/notice_list.css" />
    <link rel="stylesheet" href="../css/list_view.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/signup.css" />
    <link rel="stylesheet" href="../css/notice_write.css" />
</head>

<body>
    <header>
        <section class="h_container">
            <div class="h_logo">
                <a href="/"><img src="../img/logo_main_fff.png" alt="logo_main_fff" /></a>
            </div>
            <ul class="h_nav">
                <li class="dropdown">
                    <a class="active_hnav" href="/intro"><p>브랜드 스토리</p></a>
                </li>
                <li class="dropdown">
                    <a class="active_hnav" href="/menu"><p>메뉴소개</p></a>
                    <div class="dropdown_content">
                        <a href="/menu">NEW!</a>
                        <a href="/menu">ALL</a>
                        <a href="/menu">브레드</a>
                        <a href="/menu">케이크</a>
                        <a href="/menu">델리</a>
                        <a href="/menu">선물</a>
                        <a href="/menu">디저트/스낵</a>
                        <a href="/menu">음료</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="active_hnav" href="/event"><p>이벤트</p></a>
                    <div class="dropdown_content">
                        <a href="/event">진행중인 이벤트</a>
                        <a href="/event">이벤트 당첨자</a>
                        <a href="/event">CJ ONE 멤버십</a>
                        <a href="/event">제휴 혜택</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="active_hnav" href="/notice/1"><p>커뮤니티</p></a>
                    <div class="dropdown_content">
                        <a href="/notice/1">공지사항</a>
                        <a href="/notice/1">고객센터</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="active_hnav" href=""><p>매장찾기</p></a>
                </li>
            </ul>
            <div class="h_btn">
                <a class="active_hbtn" href="/login">로그인</a>
            </div>
            <div class="search_box">
                <button class="btn_search"><i class="fas fa-search"></i></button>
                <input type="text" class="input_search" placeholder="Search Menu">
            </div>
            <div class="h_mobbtn">
                <a href="javascript:;">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </section>
        <!--모바일 메뉴-->
        <section class="h_mobbox">
            <div class="h_mobtop">
                <img src="../img/logo_main_fff.png" alt="">
                <div class="h_closebtn">
                    <a href="javascript:;">
                        <img src="../img/iconX.png" alt="">
                    </a>
                </div>
            </div>
            <div class="h_mobwrap">
                <ul class="h_mobnav">
                    <li><a href="/intro">Brand Story</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/event">Event</a></li>
                    <li><a href="/notice/1">Community</a></li>
                    <li><a href="">Finding Store</a></li>
                </ul>
                <ul class="h_mobmid">
                    <li>
                        <a href="">
                            <img src="../img/mo-gnb01.png" alt="">
                            <p>고객센터</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../img/mo-gnb02.png" alt="">
                            <p>매장찾기</p>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            <img src="../img/mo-gnb03.png" alt="">
                            <p>로그인</p>
                        </a>
                    </li>
                    <li>
                        <a href="/signup">
                            <img src="../img/mo-gnb04.png" alt="">
                            <p>회원가입</p>
                        </a>
                    </li>
                </ul>
                <article class="h_mobinfo">
                    <div class="h_mobaddress">
                        <div class="h_mobsubj">
                            <h6>Address</h6>
                            <span>|</span>
                        </div>
                        <div class="h_mobcont">
                            <p> CJ푸드빌(주) 서울시 중구 마른내로34<br>
                                KT&G을지로타워 3,9-11층</p>
                        </div>
                    </div>
                    <div class="h_mobtel">
                        <div class="h_mobsubj">
                            <h6>Contact</h6>
                            <span>|</span>
                        </div>
                        <div class="h_mobcont">
                            <p>TEL. 1577 - 0700<br>
                                E-mail. help_master@cj.net</p>
                        </div>
                    </div>
                </article>
                <ul class="h_mobsns">
                    <li><a href="https://ko-kr.facebook.com/TOUSlesJOURS/"><img src="../img/ft-sns01.png" alt=""></a></li>
                    <li><a href="https://www.instagram.com/touslesjours_kr/"><img src="../img/ft-sns02.png" alt=""></a></li>
                    <li><a href="https://www.youtube.com/user/touslesjourskr"><img src="../img/ft-sns04.png" alt=""></a></li>
                </ul>
            </div>
        </section>
    </header>
    <%- body %>
    <footer>
        <div class="moveTopBtn" id="container">
            <span>TOP</span>
        </div>
        <div class="f_top_wrap main_scroll">
            <article class="f_top">
                <h1>
                    <a href="/">
                        <img src="../img/logo_main_fff.png" />
                    </a>
                </h1>
                <div class="f_top_info">
                    <p><span>푸드빌(주)</span> 서울시 중구 마른내로34 KT&G을지로타워 3,9-11층</p>
                </div>
                <div class="f_top_tel">
                    <p>TEL. 1577-0700</p>
                    <p>E-mail. help_master@cj.net</p>
                </div>
                <div class="f_top_btn">
                    <ul>
                        <li>
                            <a href=""> CJ 푸드빌 홈페이지 </a>
                        </li>
                        <li>
                            <a href=""> 창업안내 </a>
                        </li>
                    </ul>
                </div>
                <div class="f_top_sns">
                    <ul>
                        <li>
                            <a href="">
                                <img src="../img/ft-sns01.png" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/ft-sns02.png" />
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../img/ft-sns04.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="f_bot">
            <p>COPYRIGHT 2022©CJ Foodville ALL RIGHT RESERVED.</p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/mobile.js"></script>
    <%- script %>
</body>

</html>