<main class="main_main" id="onepage">
    <div class="circle circle_animate main_circle"></div>
    <section class="main_sec1 main_scroll">
      <article class="main_arti1">
        <div class="main_phrase"></div>
        <ul class="main_nav">
          <li class="main_navcont"><a href=""><p>MENU</p></a></li>
          <li class="main_navcont"><a href=""><p>COMMUNITY</p></a></li>
          <li class="main_navcont"><a href=""><p>RECRUIT</p></a></li>
          <li class="main_navcont"><a href=""><p>FRANCHISE</p></a></li>
          <li class="main_navcont"><a href=""><p>NEW PRODUCT</p></a></li>
        </ul>
        <div class="main_logowrap">
          <img src="../img/campagne.png" alt="campagne">
          <div class="main_subwrap">
            <div class="main_subtitle">건강한 데일리 베이커리</div>
            <div class="main_subline"></div>
          </div>
          <div class="main_logo">
            <img src="../img/logo_main_fff.png" alt="mainlogo">
          </div>
        </div>
      </article>
    </section>

    <section class="main_sec2 main_sec main_scroll">
        <article class="main_arti2">
          <div class="main_subject1">
          <p>TOUS les JOURS MENU</p>
          </div>
          <ul class="main_menuwrap">
              <li>
                  <a href="">
                      <img class="main_bread" src="../img/croissant.png" alt="bread">
                      <div class="main_menutxt">
                          <h3>BREAD</h3>
                          <p>하루 3번,<br>매장에서 갓 구운 신선한 빵</p>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="">
                      <img class="main_drink" src="../img/drink.png" alt="drink">
                      <div class="main_menutxt main_drinktxt">
                          <h3>DRINK</h3>
                          <p>스페셜 원두로 추출한<br>풍부한 풍미의 에스프레소</p>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="">
                      <img class="main_cake" src="../img/cake.png" alt="cake">
                      <div class="main_menutxt">
                          <h3>CAKE</h3>
                          <p>촉촉한 시트에<br>풍부한 맛의 생크림</p>
                      </div>
                  </a>
              </li>
          </ul>
      </article>
    </section>
    <section class="main_sec3 main_sec main_scroll">
        <article class="main_arti3">
            <ul>
                <li>
                    <a class="main_comuevt" href="">
                        <div class="main_comutxt">
                          <h5>EVENT</h5>
                          <p>다양한 진행중인 이벤트를 즐겨보세요!</p>
                        </div>
                    </a>
                </li>
                <li>
                  <a class="main_comusto" href="">
                      <div class="main_comutxt">
                          <h5>STORE</h5>
                          <p>가까운 뚜레쥬르 매장을 찾아보세요!</p>
                      </div>
                  </a>
              </li>
              <li>
                  <a class="main_comudvy" href="">
                      <div class="main_comutxt">
                          <h5>DELIVERY SERVICE</h5>
                          <p>뚜레쥬르 제품을 온라인에서 구매 & 배송신청 하세요!</p>
                      </div>
                  </a>
              </li>
            </ul>
        </article>
    </section>
    <section class="main_sec4 main_sec main_scroll">
        <article class="main_arti4">
            <div class="main_recruit">
                <div class="main_recrutxt main_subject2">
                    <h4>With <span>TOUS les JOURS</span></h4>
                    <h6>기사 채용 안내</h6>
                    <p>제과 제빵의 꿈을 <span>뚜레쥬르와 함께 하세요!</span></p>
                    <div class="main_btnmore">
                      <a class="main_btnpc" href="">
                          <span class="main_btncircle">
                              <img src="../img/btn_plus_000.png" alt="btnmore">
                          </span>
                          <p>DISCOVER MORE</p>
                      </a>
                    </div>
                </div>
                <div class="main_recruimg">
                  <img class="main_recimgpc" src="../img/recruit.png" alt="recruit">
                  <img class="main_recimgmob" src="../img/main_recruit_mob.png" alt="recruitmob">
                </div> 
            </div>
        </article>
        <a class="main_btnmob" href="">
            <p>채용 공고 보기</p>
            <div></div>
        </a>
    </section>
    <section class="main_sec5 main_sec main_scroll">
      <article class="main_arti5">
          <div class="main_franchise">
              <div class="main_frntxt main_subject2">
                  <h4>Own a <span>Franchise</span></h4>
                  <h6>창업 안내</h6>
                  <p><span>뚜레쥬르 창업 </span>이렇게 시작해 보세요!</p>
                  <div class="main_btnmore">
                      <a class="main_btnpc" href="">
                          <span class="main_btncircle">
                              <img src="../img/btn_plus_000.png" alt="btnmore">
                          </span>
                          <p>DISCOVER MORE</p>
                      </a>
                  </div>
              </div>
          </div>
          <a class="main_btnmob" href="">
              <p>창업 상담 신청</p>
              <div></div>
          </a>
      </article>
      
      </section>
      <section class="main_sec6 main_sec main_scroll">
          <article class="main_arti6">
              <div class="main_subject1">
              <p>New Products</p>
              </div>
              <div class="main_new">
                  <h6><a href="">SHOW MORE</a></h6>
                  <div class="swiper mySwiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../img/prod1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod3.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod4.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod5.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod6.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod7.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod8.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod9.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod10.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod11.png" alt="">
                        </div>
                        <div class="swiper-slide">
                          <img src="../img/prod12.png" alt="">
                        </div>
                      </div>
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-pagination"></div>
                    </div>
              </div>
          </article>
          <div class="main_bottom">
              <ul class="main_botnav">
                  <li>
                      <div class="main_bottxt">
                          <h6>고객센터</h6>
                          <p>더 나은 서비스를 제공하기 위해<span>
                              최선을 다하겠습니다.</span></p>
                      </div>
                      <div class="main_botbtn">
                          <a class="main_bothref" href="">
                              <span class="main_botcircle">
                                  <img src="../img/btn_plus_000.png" alt="botmore">
                              </span>
                          </a>
                      </div>
                  </li>
                  <div class="main_border"></div>
                  <li>
                      <div class="main_bottxt">
                          <h6>제휴카드안내</h6>
                          <p>다양한 제휴 할인 혜택을<span>
                          뚜레쥬르에서 만나 보세요.</span></p>
                      </div>
                      <div class="main_botbtn">
                          <a class="main_bothref" href="">
                              <span class="main_botcircle">
                                  <img src="../img/btn_plus_000.png" alt="botmore">
                              </span>
                          </a>
                      </div>
                  </li>
                  <div class="main_border"></div>
                  <li>
                      <div class="main_bottxt">
                          <h6>공지사항</h6>
                          <p>뚜레쥬르의 공지내용을<span>
                          확인하세요.</span></p>
                      </div>
                      <div class="main_botbtn">
                          <a class="main_bothref" href="">
                              <span class="main_botcircle">
                                  <img src="../img/btn_plus_000.png" alt="botmore">
                              </span>
                          </a>
                      </div>
                  </li>
              </ul>
          </div>
      </section>
      
  </main>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="../js/swiper.js"></script>
<script src="../js/scrollPage.js"></script>