
<main class="menu">
    <div class="circle circle_animate"></div>
    <section class="title">
        <h2 class="title_h2">TOUS les JOURS’s MENU</h2>
        <ul class="title_nav1">
            <li><a class="active" href="">브레드</a></li>
            <li><a href="">케이크</a></li>
            <li><a href="">델리</a></li>
            <li><a href="">선물</a></li>
            <li><a href="">디저트/스낵</a></li>
            <li><a href="">음료</a></li>
        </ul>
        <ul class="title_nav2">
            <li><a href="">식빵</a></li>
            <li><a href="">건강빵</a></li>
            <li><a href="">간식빵</a></li>
            <li><a class="active" href="">파이/패스트리</a></li>
            <li><a href="">도넛/고로케</a></li>
        </ul>
    </section>
    <section class="menu_t_wrap">
        <article class="menu_t">
            <div class="menu_t_l">
                <div class="menu_t_l_wrap">
                    <p class="menu_text_t">NEW!</p>
                    <p class="menu_text_b">BEST</p>
                </div>
                <div class="di_none">
                    <p class="menu_title_t">뚜레쥬르의 따끈따끈한&nbsp;
                        <br><span>신제품을 소개</span>합니다.
                    </p>
                    <p class="menu_title_b">
                        <a href="">
                            <span>
                                <img src="../img/plus-img02.png" alt="plus">
                            </span>
                            DISCOVER MORE
                        </a>
                    </p>
                </div>
            </div>
            <div class="menu_t_r di_none">
                <ul>
                    <li>
                        <a href="">
                            <img class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/tomatoHotdog.png">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" class="danish" src="../img/DanishBread.png">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/baguette.png">
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </section>
    <section class="pc_none di_block mo_img">
        <article class="swiper mySwiper slid_wrap">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/BerrySweet_PR-1.jpg">
                    </a>
                </div>
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/M-day_PR-scaled.jpg">
                    </a>
                </div>
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/2c919a68596f73adda705a8cc321.jpg">
                    </a>
                </div>
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/valentine-showcase-board_new-e1580431436654.png">
                    </a>
                </div>
            </div>
        </article>
    </section>
    <section class="menu_b_wrap" id="js-load">
        <p>Pie & Pastry</p>
        <article class="menu_b">
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/franboaz.png">
                    </div>
                    <figcaption>프랑보아즈 아몬드 크라상</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/original.png">
                    </div>
                    <figcaption>오리지널 생크림 크라상</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/hotdogPastry.png">
                    </div>
                    <figcaption>핫도그패스트리</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="/menu_sub">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/cream.png">
                    </div>
                    <figcaption>크림코르네</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/montblanc.png">
                    </div>
                    <figcaption>몽블랑의 정석</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/choco.png">
                    </div>
                    <figcaption>겹겹이 초코 퐁당</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/newFrank.png">
                    </div>
                    <figcaption>NEW 후랑크 패스트리</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/danish.png">
                    </div>
                    <figcaption>겹겹이 연유크림 데니쉬</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/walnut.png">
                    </div>
                    <figcaption>앙!호두 버터 샌드</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/cornet.png">
                    </div>
                    <figcaption>초코 퐁당 코르네</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/yuja.png">
                    </div>
                    <figcaption>새콤달콤 유자파이</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_b_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/realSweet.png">
                    </div>
                    <figcaption>진짜 고구마파이</figcaption>
                </a>
            </figure>
        </article>
        <ul class="page di_none">
            <li>
                <a href="">
                    <img src="../img/kprev-icon.jpg">
                </a>
            </li>
            <li class="page_active">
                <a href="">
                    1
                </a>
            </li>
            <li>
                <a href="">
                    2
                </a>
            </li>
            <li>
                <a href="">
                    3
                </a>
            </li>
            <li>
                <a href="">
                    4
                </a>
            </li>
            <li>
                <a href="">
                    5
                </a>
            </li>
            <li>
                <a href="">
                    6
                </a>
            </li>
            <li>
                <a href="">
                    7
                </a>
            </li>
            <li>
                <a href="">
                    8
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/knext-icon.jpg">
                </a>
            </li>
        </ul>
        <a class="menu_b_more pc_none di_flex" id="js-btn-wrap" href="javascript:;">
            더보기
        </a>
    </section>
</main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/btnmore.js"></script>
    <script src="../js/img_shake.js"></script>
    <script src="../js/top_btn.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
        delay: 2500,
        disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            type: "fraction",
        },
        });
    </script>
    <script>
    $("#desktopNav input").focus(function(){
        $("#desktopNav form").animate({
                "width": "200px"
        }, 300, function() {});
    });
    $("#desktopNav input").blur(function(){
        $("#desktopNav form").animate({
                "width": "60px"
        }, 300, function() {});
    });
    $("#desktopNav form").click(function(){
        $("#desktopNav input").focus();
    }); 
    </script>