
     <main class="menu3">
        <div class="circle circle_animate"></div>
        <section class="title">
            <h2 class="title_h2">TOUS les JOURS’s MENU</h2>
            <ul class="title_nav1">
                <li><a href="/menu">브레드</a></li>
                <li><a class="active" href="">케이크</a></li>
                <li><a href="">델리</a></li>
                <li><a href="">선물</a></li>
                <li><a href="">디저트/스낵</a></li>
                <li><a href="">음료</a></li>
            </ul>
            <ul class="title_nav2">
                <li><a class="active" href="">생크림케이크</a></li>
                <li><a href="">스페셜케이크</a></li>
                <li><a href="">캐릭터케이크</a></li>
            </ul>
        </section>
        <section class="menu_t_wrap">
            <article class="menu_t">
                <div class="menu_t_l">
                    <div class="menu_t_l_wrap">
                        <p class="menu_text_t">NEW!</p>
                        <p class="menu_text_b">BEST</p>
                    </div>
                    <div class="di_none">
                        <p class="menu_title_t">뚜레쥬르의 따끈따끈한&nbsp;
                            <br><span>신제품을 소개</span>합니다.
                        </p>
                        <!-- <p class="menu_title_b">
                            <a href="">
                                <span>
                                    <img src="../img/plus-img02.png" alt="plus">
                                </span>
                                DISCOVER MORE
                            </a>
                        </p> -->
                    </div>
                </div>
                <div class="menu_t_rg di_none">
                    <ul>
                        <li>
                            <a href="">
                                <img class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/Milkcake.png">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/strawberryMousse.png">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/blueberrycake.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="pc_none di_block mo_img">
            <article class="swiper mySwiper slid_wrap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide_img">
                        <a href="">
                            <img src="../img/BerrySweet_PR-1.jpg">
                        </a>
                    </div>
                    <div class="swiper-slide slide_img">
                        <a href="">
                            <img src="../img/M-day_PR-scaled.jpg">
                        </a>
                    </div>
                    <div class="swiper-slide slide_img">
                        <a href="">
                            <img src="../img/2c919a68596f73adda705a8cc321.jpg">
                        </a>
                    </div>
                    <div class="swiper-slide slide_img">
                        <a href="">
                            <img src="../img/valentine-showcase-board_new-e1580431436654.png">
                        </a>
                    </div>
                </div>
            </article>
        </section>
        <section class="menu_bm_wrap" id="js-load">
            <p>Cake</p>
            <article class="menu_b">
                <figure class="js-load">
                    <a href="/menu_sub3">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/chocoChiffoncake.png">
                        </div>
                        <figcaption>초코 생크림쉬폰</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/blueberrycake.png">
                        </div>
                        <figcaption>부드러운 블루베리쉬폰</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/milkcake.png">
                        </div>
                        <figcaption>진한 우유 생크림 케이크</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/strawberryLychee.png">
                        </div>
                        <figcaption>스트로베리 리치 생크림</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/ganache.png">
                        </div>
                        <figcaption>쇼콜라 가나슈 생크림</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/flowerBerry.png">
                        </div>
                        <figcaption>플라워베리 생크림</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/chococream.png">
                        </div>
                        <figcaption>초코생크림케이크</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/Montmartre.png">
                        </div>
                        <figcaption>딸기 몽마르뜨</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/yogurtStrawberry.png">
                        </div>
                        <figcaption>요거딸기생크림케이크</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/magicStrawberry.png">
                        </div>
                        <figcaption>순매직딸기케이크</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/magicBerry.png">
                        </div>
                        <figcaption>순매직베리케이크</figcaption>
                    </a>
                </figure>
                <figure class="js-load">
                    <a href="">
                        <div class="menu_bm_img" onmouseover="handleMouseOver(this, 'shake')" >
                            <img src="../img/blueberryHeart.png">
                        </div>
                        <figcaption>블루베리하트케이크</figcaption>
                    </a>
                </figure>
            </article>
            <ul class="page di_none">
                <li>
                    <a href="">
                        <img src="../img/kprev-icon.jpg">
                    </a>
                </li>
                <li class="page_active">
                    <a href="">
                        1
                    </a>
                </li>
                <li>
                    <a href="">
                        2
                    </a>
                </li>
                <li>
                    <a href="">
                        3
                    </a>
                </li>
                <li>
                    <a href="">
                        4
                    </a>
                </li>
                <li>
                    <a href="">
                        5
                    </a>
                </li>
                <li>
                    <a href="">
                        6
                    </a>
                </li>
                <li>
                    <a href="">
                        7
                    </a>
                </li>
                <li>
                    <a href="">
                        8
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="../img/knext-icon.jpg">
                    </a>
                </li>
            </ul>
            <a class="menu_b_more pc_none di_flex" id="js-btn-wrap" href="javascript:;">
                더보기
            </a>
        </section>
    </main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/btnmore.js"></script>
    <script src="../js/img_shake.js"></script>
    <script src="../js/top_btn.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
        delay: 2500,
        disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            type: "fraction",
        },
        });
    </script>