
  <main class="menu2">
    <div class="circle circle_animate"></div>
    <section class="title">
        <h2 class="title_h2">TOUS les JOURS’s MENU</h2>
        <ul class="title_nav1">
            <li><a class="active" href="">브레드</a></li>
            <li><a href="/menu3">케이크</a></li>
            <li><a href="">델리</a></li>
            <li><a href="">선물</a></li>
            <li><a href="">디저트/스낵</a></li>
            <li><a href="">음료</a></li>
        </ul>
        <ul class="title_nav2">
            <li><a href="/menu">파이/패스트리</a></li>
            <li><a class="active" href="">도넛/고로케</a></li>
            <li><a href="">식빵</a></li>
            <li><a href="">건강빵</a></li>
            <li><a href="">간식빵</a></li>
        </ul>
    </section>
    <section class="menu_t_wrap">
        <article class="menu_t">
            <div class="menu_t_l">
                <div class="menu_t_l_wrap">
                    <p class="menu_text_t">NEW!</p>
                    <p class="menu_text_b">BEST</p>
                </div>
                <div class="di_none">
                    <p class="menu_title_t">뚜레쥬르의 따끈따끈한&nbsp;
                        <br><span>신제품을 소개</span>합니다.
                    </p>
                    <!-- <p class="menu_title_b">
                        <a href="">
                            <span>
                                <img src="../img/plus-img02.png" alt="plus">
                            </span>
                            DISCOVER MORE
                        </a>
                    </p> -->
                </div>
            </div>
            <div class="menu_t_rt di_none">
                <ul>
                    <li>
                        <a href="">
                            <img class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/korokke.png">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/doughnut.png">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" src="../img/cornCheese.png">
                        </a>
                    </li>
                </ul>
            </div>
        </article>
    </section>
    <section class="pc_none di_block mo_img">
        <article class="swiper mySwiper slid_wrap">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/BerrySweet_PR-1.jpg">
                    </a>
                </div>
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/M-day_PR-scaled.jpg">
                    </a>
                </div>
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/2c919a68596f73adda705a8cc321.jpg">
                    </a>
                </div>
                <div class="swiper-slide slide_img">
                    <a href="">
                        <img src="../img/valentine-showcase-board_new-e1580431436654.png">
                    </a>
                </div>
            </div>
        </article>
    </section>
    <section class="menu_bt_wrap" id="js-load">
        <p>Pie & Pastry</p>
        <article class="menu_b">
            <figure class="js-load">
                <a href="/menu_sub2">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/cornCheese.png">
                    </div>
                    <figcaption>톡톡 콘치즈볼</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/chessesPotato.png">
                    </div>
                    <figcaption>깨알 치즈감자볼</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/frying.png">
                    </div>
                    <figcaption>후라잉 치즈감자볼</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/doughnut.png">
                    </div>
                    <figcaption>엄마랑장볼때먹던 그때그도나쓰</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/streasel.png">
                    </div>
                    <figcaption>소보로만난 앙넛</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/korokke.png">
                    </div>
                    <figcaption>NEW정통고로케</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/adzukiBeans.png">
                    </div>
                    <figcaption>옛날 단팥 도넛</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/kimchi.png">
                    </div>
                    <figcaption>NEW김치고로케</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/salada.png">
                    </div>
                    <figcaption>추억의 사라다 고로케</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/carbonara.png">
                    </div>
                    <figcaption>까르보나라 까망 고로케</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/chocoDoughnut.png">
                    </div>
                    <figcaption>초코마카롱도넛</figcaption>
                </a>
            </figure>
            <figure class="js-load">
                <a href="">
                    <div class="menu_bt_img" onmouseover="handleMouseOver(this, 'shake')" >
                        <img src="../img/strawberry.png">
                    </div>
                    <figcaption>딸기마카롱도넛</figcaption>
                </a>
            </figure>
        </article>
        <ul class="page di_none">
            <li>
                <a href="">
                    <img src="../img/kprev-icon.jpg">
                </a>
            </li>
            <li class="page_active">
                <a href="">
                    1
                </a>
            </li>
            <li>
                <a href="">
                    2
                </a>
            </li>
            <li>
                <a href="">
                    3
                </a>
            </li>
            <li>
                <a href="">
                    4
                </a>
            </li>
            <li>
                <a href="">
                    5
                </a>
            </li>
            <li>
                <a href="">
                    6
                </a>
            </li>
            <li>
                <a href="">
                    7
                </a>
            </li>
            <li>
                <a href="">
                    8
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../img/knext-icon.jpg">
                </a>
            </li>
        </ul>
        <a class="menu_b_more pc_none di_flex" id="js-btn-wrap" href="javascript:;">
            더보기
        </a>
    </section>
</main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/btnmore.js"></script>
    <script src="../js/img_shake.js"></script>
    <script src="../js/top_btn.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
        delay: 2500,
        disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            type: "fraction",
        },
        });
    </script>