<main class="menu_sub2">
    <div class="circle circle_animate order"></div>
    <section class="menu_info_wrap">
        <article>
            <div class="menu_info">
                <div class="menu_info_img">
                    <a href="/menu2">
                        <img src="../img/cornCheese.png">
                    </a>
                </div>
                <div class="menu_info_bread">Bread</div>
                <div class="menu_info_Cheeseball">Cheeseball</div>
                <div></div>
                <div class="menu_info_text">
                    <p>톡톡 콘치즈볼</p>
                    <span>설탕 솔솔 뿌린 바삭한 도넛 속 옥수수 알갱이가 톡톡 터지는 달콤한 콘치즈 내용물이 들어있는 제품</span>
                    <div class="menu_text_table">
                        <div class="menu_text_sgl">
                            <p>제품 영양 정보</p>
                            <div class="menu_sgl_box2">
                                <div class="menu_sgl_box2_inner">
                                    <dl>
                                        <dt>중량<span>(g/ml)</span></dt>
                                        <dd>171</dd>
                                    </dl>
                                    <dl>
                                        <dt>열량<span>(Kcal)</span></dt>
                                        <dd>595</dd>
                                    </dl>
                                    <dl>
                                        <dt>당류<span>(g)</span></dt>
                                        <dd>27</dd>
                                    </dl>
                                    <dl>
                                        <dt>단백질<span>g(%)</span></dt>
                                        <dd>5(9)</dd>
                                    </dl>
                                    <dl>
                                        <dt>포화지방<span>g(%)</span></dt>
                                        <dd>11(73)</dd>
                                    </dl>
                                    <dl>
                                        <dt>나트륨<span>mg(%)</span></dt>
                                        <dd>690(35)</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="menu_text_sgl">
                            <p>알레르기 성분</p>
                            <div class="menu_sgl_box2">
                                <div class="menu_sgl_box2_inner">
                                    <p class="menu_innier_P">계란, 우유, 대두, 밀 함유</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="menu_event">
        <article>
            <div class="menu_event_box">
                <ul>
                    <a href="/event">
                        <li>
                            <div>
                                <p class="menu_event_txt1">가까운 곳에서 EAT!</p>
                                <p class="menu_event_txt2">가까운 매장에서 보기</p>
                            </div>
                            <span class="menu_none">
                                <img src="../img/product_detail_icon01.png">
                            </span>
                        </li>
                        <li>
                            <div>
                                <p class="menu_event_txt1">배달해서 EAT!</p>
                                <p class="menu_event_txt2">딜리버리 서비스</p>
                            </div>
                            <span class="menu_none">
                                <img src="../img/product_detail_icon02.png">
                            </span>
                        </li>
                        <li>
                            <div>
                                <p class="menu_event_txt1">이벤트로 EAT!</p>
                                <p class="menu_event_txt2">진행중 이벤트</p>
                            </div>
                            <span class="menu_none">
                                <img src="../img/product_detail_icon03.png">
                            </span>
                        </li>
                    </a>
                </ul>
                <div class="menu_event_more">
                    <p><a href="/menu2">GO TO LIST</a></p>
                    <div></div>
                </div>
            </div>
        </article>
    </section>
</main>
<script src="../js/top_btn.js"></script>