<main class="menu_sub3">
    <div class="circle circle_animate order"></div>
    <section class="menu_info_wrap">
        <article>
            <div class="menu_info">
                <div class="menu_info_img">
                    <a href="/menu3">
                        <img src="../img/chocoChiffoncake.png">
                    </a>
                </div>
                <div class="menu_info_bread">Bread</div>
                <div class="menu_info_Chiffon">Chiffon</div>
                <div></div>
                <div class="menu_info_text2">
                    <p>초코 생크림쉬폰</p>
                    <span>달콤한 초코 풍미가 느껴지는 촉촉하고 부드러운 초코 쉬폰 케이크</span>
                    <div class="menu_text_table2">
                        <div class="menu_text_sgl2">
                            <p>제품 영양 정보</p>
                            <div class="menu_sgl_box3">
                                <div class="menu_sgl_box3_inner">
                                    <dl>
                                        <dt>중량<span>(g/ml)</span></dt>
                                        <dd>696</dd>
                                    </dl>
                                    <dl>
                                        <dt>열량<span>(Kcal)</span></dt>
                                        <dd>2280</dd>
                                    </dl>
                                    <dl>
                                        <dt>당류<span>(g)</span></dt>
                                        <dd>141</dd>
                                    </dl>
                                    <dl>
                                        <dt>단백질<span>g(%)</span></dt>
                                        <dd>32(58)</dd>
                                    </dl>
                                    <dl>
                                        <dt>포화지방<span>g(%)</span></dt>
                                        <dd>84(560)</dd>
                                    </dl>
                                    <dl>
                                        <dt>나트륨<span>mg(%)</span></dt>
                                        <dd>800(40)</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="menu_text_sgl2">
                            <p>알레르기 성분</p>
                            <div class="menu_sgl_box3">
                                <div class="menu_sgl_box3_inner">
                                    <p class="menu_innierP">계란, 우유, 대두, 밀, 아황산류 함유</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="menu_event">
        <article>
            <div class="menu_event_box">
                <ul>
                    <a href="/event">
                        <li>
                            <div>
                                <p class="menu_event_txt1">가까운 곳에서 EAT!</p>
                                <p class="menu_event_txt2">가까운 매장에서 보기</p>
                            </div>
                            <span class="menu_none">
                                <img src="../img/product_detail_icon01.png">
                            </span>
                        </li>
                        <li>
                            <div>
                                <p class="menu_event_txt1">배달해서 EAT!</p>
                                <p class="menu_event_txt2">딜리버리 서비스</p>
                            </div>
                            <span class="menu_none">
                                <img src="../img/product_detail_icon02.png">
                            </span>
                        </li>
                        <li>
                            <div>
                                <p class="menu_event_txt1">이벤트로 EAT!</p>
                                <p class="menu_event_txt2">진행중 이벤트</p>
                            </div>
                            <span class="menu_none">
                                <img src="../img/product_detail_icon03.png">
                            </span>
                        </li>
                    </a>
                </ul>
                <div class="menu_event_more">
                    <p><a href="/menu3">GO TO LIST</a></p>
                    <div></div>
                </div>
            </div>
        </article>
    </section>
</main>
<script src="../js/top_btn.js"></script>