/*animation variations*/

.int_transition {
    opacity: 0;
}

.int_transition_fadein {
    -webkit-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Safari 4+ */
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* IE 10+ */
}

.int_transition_down {
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Safari 4+ */
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* IE 10+ */
    transform: translate(0, -100px);
}

.int_transition_up {
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translate(0, 100px);
}

.int_transition_right {
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate(-100px, 0);
}

.int_transition_left {
    -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translate(100px, 0);
}

.int_transition.show {
    opacity: 1;
    transform: none;
}

.int_transition.off {
    transform: translate(0, 0);
}
