.list_view {
    position: relative;
    overflow: hidden;
}

.list_view h3 {
    color: #333;
    font-size: 32px;
    padding: 10px 0;
}

.list_veiw_wrap {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    border-top: 2px solid #074c43;
    padding-bottom: 100px;
}

.list_view_title {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.list_view_title em {
    font-size: 21px;
    color: #fff;
    background: #f26a25;
    padding: 2px 15px 3px;
    border-radius: 50px;
    margin-right: 10px;
}

.list_view_title p {
    display: inline-block;
    color: #808080;
}

.list_view_title .date_period {
    font-family: sub_type;
    font-weight: 100;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    position: relative;
}

.list_view_title .date_title {
    font-size: 19px;
}

.list_view_title .date_value {
    font-family: sub_type;
    font-weight: 100;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    padding-left: 30px;
    position: relative;
}

.list_view_title .date_value::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #ddd;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8px;
}

.list_view_contents {
    border-bottom: 1px solid #ddd;
    padding: 40px 0;
    text-align: center;
    color: #666;
    line-height: 25px;
}

.list_view_contents img {
    padding: 10px 0 20px;
    max-width: 100%;
}

.list_view_contents h4 {
    font-size: 26px;
    padding-bottom: 10px;
}

.list_view_contents p {
    font-size: 14px;
}

.list_view_edit{
    display: flex;
    justify-content: flex-end;
}

.list_view_edit .graybtn{
    display: block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #777;
    border: none;
    border-radius: 30px;
    box-sizing: content-box;
    background-color: #f1f1f1;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
}

.list_view_edit .graybtn:hover{
    background-color: #074c43;
    color: #fff;
}

.list_view_btn a {
    font-family: sub_type;
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 143px;
    height: 50px;
    line-height: 49px;
    background-color: #f26a25;
    border-radius: 50px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.5px;
    padding-right: 30px;
    background: #f26a25 url(../img/gt-btnbg.png) no-repeat 77% center;
}

/*--------------------media query width 1280px--------------------*/
@media only screen and (max-width: 1280px) {
    .list_veiw_wrap {
        width: calc(100% - 60px);
    }
}

/*--------------------media query width 989px--------------------*/
@media only screen and (max-width: 989px) {
    .list_view h3 {
        font-size: 22px;
    }

    .list_view_title em {
        font-size: 20px;
    }

    .list_view_title .date_period {
        font-size: 20px;
    }

    .list_view_title .date_title {
        font-size: 16px;
    }

    .list_view_title .date_value {
        font-size: 16px;
        line-height: 24px;
    }
}

/*--------------------media query width 767px--------------------*/
@media only screen and (max-width: 767px) {
    .list_veiw_wrap {
        width: calc(100% - 40px);
        padding-bottom: 70px;
    }

    .list_view h3 {
        font-size: 20px;
    }

    .list_view_title em {
        font-size: 16px;
    }

    .list_view_title p {
        vertical-align: bottom;
    }

    .list_view_title .date_period {
        font-size: 16px;
    }

    .list_view_title .date_title {
        font-size: 14px;
    }

    .list_view_title .date_value {
        font-size: 14px;
    }

    .list_view_contents {
        text-align: left;
    }

    .list_view_contents h4 {
        font-size: 18px;
    }
    
    .list_view_edit .graybtn{
        display: block;
        width: 15%;
        height: 35px;
        line-height: 35px;
        font-size: 13px;
        min-width: 60px;
    }

    .list_view_btn a {
        font-family: sub_type;
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 100px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        font-size: 12px;
        background: #f26a25 url(../img/gt-btnbg.png) no-repeat 80% center;
    }
}

/*--------------------media query width6 480px--------------------*/
@media only screen and (max-width: 480px) {
}
