.login{
    position: relative;
    overflow: hidden;
    /*margin-top: 120px;*/
}

.login_title{
    position: relative;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 100px;
}

.login_h2{
    font-family: point_type;
    color: #074c43;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 0;
}

.login_wrap{
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 570px;
    margin: 0 auto 30px;
}

.login_wrap .login_img{
    text-align: center;
}

.login_img>img{
    padding: 30px 20px 0;
}

.login_img p{
    border-bottom: 1px solid #ddd;
    color: #777;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    padding: 30px 20px 30px;
}

.login_box{
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    position: relative;
}

.login_box label{
    position: absolute;
    left: -9999px;
    font-size: 0;
    width: 0;
    height: 0;
    text-indent: -9999px;
    overflow: hidden;
}

.login_box input[type='text']{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 530px;
    padding: 15px;
}
.login_box input[type='password']{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    max-width: 530px;
    padding: 15px;
}

.login_d_box{
    padding: 20px;
    box-sizing: border-box;
}

.login_d_box>form{
    width: 100%;
    border-radius: 3px;
    display: block;
    max-width: 530px;
    color: #777;
    font-size: 12px;
    margin-bottom: 10px;
}

.login_d_box>label{
    text-align: center;
    font-size: 12px;
    color: #777;
}

.login_d_box>ul{
    display: flex;
    justify-content: space-between;
}

.login_d_box>ul>li{
    width: calc(33.333% - 3px);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
}

.login_d_box>ul>li>a{
    display: block;
    text-align: center;
    color: #777;
    font-size: 13px;
}

.login_wrap>button{
    display: block;
    color: #fff;
    width: 100%;
    font-family: basic_type;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding: 16px 0;
    background-color: #074c43;
    margin: auto;
    margin-bottom: 100px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.bor_none{
    border: 0 !important;
}

.no{
    color: red;
    font-size: 14px;
    display: none;
}


@media only screen and (max-width: 767px) {
    .login_btn {
        margin-bottom: 70px !important;
    }
}


@media only screen and (max-width: 570px) {
    .login_wrap {
        max-width: calc(100% - 60px);
        margin: 0 auto 20px;
    }

    .login_btn {
        font-size: 17px;
        padding: 10px 0;
    }
}


@media only screen and (max-width: 480px) {
    .login_wrap {
        max-width: calc(100% - 40px);
    }

    .login_box {
        padding: 15px;
    }

    .login_box input[type='text'] {
        padding: 10px;
    }
   
}