.menu3 {
    position: relative;
    overflow: hidden;
    /*margin-top: 120px;*/
}

/* 두번째 리스트 */
.title_nav2 {
    position: relative;
    z-index: 11;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: inset 0px 3px 5px 0px rgb(0 0 0 / 5%);
}

.title_nav2 .active {
    color: #f26a25;
    font-weight: 400;
}

.title_nav2 li {
    display: inline-block;
    padding: 17px 0;
    position: relative;
}

.title_nav2 li:hover a {
    color: #f26a25;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title_nav2 a {
    font-size: 17px;
    padding: 0;
    margin: 0 20px;
    border: 0;
    font-weight: 300;
    color: #777;
}

/*메뉴페이지*/

.pc_none{
    display: none;
}

.menu_t_wrap{
    width: 1440px;
    margin: auto;
}

.menu_t{
    display: flex;
}

.menu_t_l{
    width: 32%;
    padding-left: 130px;
    margin-top: 70px;
}

.menu_text_t{
    color: #074C43;
    padding-left: 60px;
    transition: all 0.5s ease;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.3;
    position: relative;
    cursor: pointer;
    font-family: point_type;
}

.menu_text_t::before{
    width: 50px; height: 6px;
    background: #074C43;
    content: "";
    display: block;
    position: absolute;
    top: 36px; left: 0;
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu_text_b{
    color: rgba(7, 76, 67, 0.44);
    transition: all 0.5s ease;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1.3;
    position: relative;
    cursor: pointer;
    font-family: point_type;
}

.menu_text_b::before{
    width: 0; height: 6px;
    background: rgba(7, 76, 67, 0.44);
    content: "";
    display: block;
    position: absolute;
    top: 36px; left: 0;
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu_title_t{
    color: #333;
    font-size: 22px;
    margin: 40px 0;
}

.menu_title_t>span{
    display: inline-block;
    color: #333;
    font-size: 22px;
    font-weight: bold;
}

.menu_title_b>a{
    display: block;
    font-size: 17px;
    color: #074C43;
    font-weight: bold;
    font-family: "sub_type";
}

.menu_title_b>a>span{
    background: rgba(227,227,227,0.5);
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 51px;
    margin-right: 20px;
    position: relative;
    padding-top: 2px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.menu_title_b>a:hover span>img{
    transform: rotate(90deg);
}

.menu_title_b>a:hover span{
    transform: scale(1.1);
}

.menu_title_b>a>span:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.menu_title_b span::after{
    content: '';
    border-radius: 50%;
    position: absolute;
    background: url(../img/btn_discover.png) no-repeat center center;
    top: -5px; left: -6px;
    width: 62px; height: 62px;
}

.menu_title_b>a>span>img{
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.menu_t_rg{
    width: 68%;
    transition: opacity 0.5s ease;
    margin-top: 70px;
    padding-right: 130px;
}

.menu_t_rg>ul{
    display: flex;
}

.menu_t_rg li{
    position: relative;
}

.menu_t_rg li>a>img{
    width: 100%;
}

.menu_t_rg li:hover::before{
    background: rgba(7, 76, 67, .05);
    transform: scale(1);
}

.menu_t_rg li::before{
    position: absolute;
    content: '';
    top: 45%; left: 0; right: 0;
    width: 260px; height: 260px;
    background: rgba(7, 76, 67, .05);
    border-radius: 100%;
    margin: -100px auto 0;
    transform: scale(0);
    z-index: -1;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu_t_rg li>a{
    width: 33.333%;
    margin-right: 10px;
    transition: all 0.5s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
}

.mo_img{
    margin-bottom: 20px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 35px;
}

.slide_img img{
    width: 100%;
}

.swiper{
    width: 100%;
    height: auto;
}

.swiper-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu_bm_wrap{
    width: 1440px;
    margin: auto;
    padding: 80px 0 100px;
}

.menu_bm_wrap>p{
    font-size: 60px;
    color: #074C43;
    font-family: point_type;
    letter-spacing: 0;
    line-height: 1;
    text-align: center;
}

.menu_b{
    margin: 50px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_b>.js-load{
    width: 25%;
    height: 470px;
    overflow: visible;
}

.menu_b>.js-load>a{
    position: relative;
    display: block;
    width: 100%;
    transition: all 0.5s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu_b>.js-load>a:hover::before{
    background: rgba(7, 76, 67, .05);
    transform: scale(1);
}

.menu_b>.js-load>a>.menu_bm_img{
    width: 75%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0deg)
    }
    
    25%
    {
        transform: rotate(-4deg)
    }
    
    50%
    {
        transform: rotate(0deg)
    }

    75%{
        transform: rotate(-3deg)
    }

}
  
.shake {
    -webkit-animation-duration: 0.4s;
    animation-duration:0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: shake;
}

.menu_b>.js-load>a>.menu_bm_img>img{
    width: 100%;
}

.menu_b>.js-load>a::before{
    position: absolute;
    content: '';
    top: 35%; left: -5px; right: 0px;
    width: 270px; height: 270px;
    background: #dcebf0;
    border-radius: 100%;
    margin: -100px auto 0;
    transform: scale(0);
    z-index: -1;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu_b>.js-load figcaption{
    white-space: nowrap;
    font-size: 22px;
    margin: 20px auto 10px;
    color: #333;
    line-height: 1.1em;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: center;
}

.page{
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.page>li{
    display: inline-block;
    padding: 5px;
    justify-content: center;
}

.page>li>a{
    display: block;
    color: #777;
    font-size: 20px;
    width: 45px;  height: 45px;
    line-height: 45px;
    border-radius: 100%;
    text-align: center;
}

.page>li>a:hover{
    background: rgba(241, 241, 241, 0.8);
    color: #074c43;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page_active>a{
    background: #f1f1f1;
    position: relative;
    color: #074c43 !important;
}

.page_active>a::before{
    border: 1px dotted #074C43;
    content: "";
    display: block !important;
    position: absolute;
    border-radius: 100%;
    top: -7px; left:-7px;
    width: 57px; height: 57px;
}

.menu_b_more{
    padding: 0;
    border-radius: 50px;
    border: 0;
    margin: 30px auto 20px;
    background: #F26A25;
    width: 180px; height: 50px;
    justify-content: center;
    align-content: center;
    color: #fff;
    line-height: 48px;
    font-size: 16px;
    text-align: center;
}

.menu_b_more::after{
    content: '';
    background: url(../img/icon_list_more.png) center center no-repeat;
    background-size: 100%;
    width: 15px; height: 15px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: 0;
}


@media only screen and (max-width: 1560px) {

    .pc_none{
        display: none;
    }

    .menu_t_wrap{
        width: 100%;
    }

    .menu_t_l{
        padding-left: 50px;
    }

    .menu_t_rg{
        padding-right: 50px;
    }

    .menu_bm_wrap{
        width: 100%;
    }

    .menu_b>.js-load{
        height: 400px;
    }
    
    .menu_b>.js-load figcaption{
        font-size: 20px;
    }

}


@media only screen and (max-width: 1440px) {

    .pc_none{
        display: none;
    }
    
    .menu_t_wrap{
        width: 100%;
    }

    .menu_t_l{
        margin-top: 35px;
    }
    
    .menu_title_t{
        font-size: 20px;
        margin: 30px 0;
    }

    .menu_t_rg li::before{
        top: 36%; left: 0; right: 0;
        width: 200px; height: 200px;
    }

    .menu_bm_wrap{
        width: 100%;
        padding: 55px 0 50px;
    }

    .menu_b>.js-load{
        height: 350px;
    }

    .menu_bm_wrap>p{
        font-size: 52px;
    }
    
    .menu_b{
        margin: 35px 0 70px;
    }

    .menu_b>.js-load>a::before{
        position: absolute;
        content: '';
        top: 40%; left: 0; right: 0;
        width: 180px; height: 180px;
        margin: -65px auto 0;
        transform: scale(0);
        z-index: -1;
    }

    .menu_b>.js-load figcaption{
        font-size: 20px;
    }

    .page>li>a{
        font-size: 16px;
        width: 40px; height: 40px;
        line-height: 40px;
    }

    .page_active>a::before{
        content: "";
        display: block !important;
        position: absolute;
        top: -6px;left: -6px;
        width: 50px; height: 50px;
    }
}



@media only screen and (max-width: 1280px) {

    .pc_none{
        display: none;
    }
    
    .menu_t_wrap{
        width: 100%;
    }

    .menu_title_b>a>span{
        width: 34px;
        height: 34px;
        line-height: 30px;
    }

    .menu_title_b>a>span>img{
        width: 15px !important;
    }

    .menu_title_b>a>span::after{
        content: '';
        position: absolute;
        width: 44px; height: 44px;
        top: -4px; left: -5px;
        background-size: cover !important;
    }

    .menu_t_rg li::before{
        top: 52%; left: 0; right: 0;
        width: 180px; height: 180px;
    }

    .menu_bm_wrap{
        width: 100%;
    }

    .menu_b>.js-load{
        height: 330px;
    }

}


@media only screen and (max-width: 989px) {

    .pc_none{
        display: none;
    }

    .menu_t_wrap{
        width: 100%;
    }

    .menu_t{
        display: block;
    }
    
    .menu_t_l{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 60px);
        padding: 0 30px 35px;
    }

    .menu_text_t{
        vertical-align: top;
        padding-left: 52px;
        font-size: 52px;
    }
    
    .menu_text_t::before{
        width: 44px; height: 5px;
        content: "";
        position: absolute;
        top: 31px; left: 0;
    }
    
    .menu_text_b{
        font-size: 52px;
    }
    
    .menu_text_b::before{
        height: 5px;
        content: "";
        position: absolute;
        top: 31px; left: 0;
    }
    
    .menu_title_t{
        display: flex;
        vertical-align: top;
        text-align: right;
        margin: 11px 0 30px;
    }

    .menu_title_t>span{
        font-size: 20px;
    }

    .menu_title_b{
        text-align: right;
    }

    .menu_t_rg{
        width: calc(100% - 60px);
        padding: 0 30px;
    }

    .menu_bm_wrap{
        width: 100%;
    }
    
    .menu_bm_wrap>p{
        font-size: 45px;
    }
    
    .menu_b{
        margin: 25px 0 35px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .menu_b>.js-load{
        height: 300px;
    }

    .menu_b>.js-load>a>div{
        width: 80%;
        margin: 15px auto 0;
    }
    
    .menu_b>.js-load>a::before{
        position: absolute;
        content: '';
        width: 130px; height: 130px;
        margin: -35px auto 0;
        transform: scale(0);
        z-index: -1;
    }
    
    .menu_b>.js-load figcaption{
        font-size: 18px;
    }
    /********* max-width: 989px *******/
}




@media only screen and (max-width: 767px) {

    .di_block{
        width: 100%;
        display: block;
    }

    .di_none{
        display: none;
    }

    .di_flex{
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .title{
        margin-top: 80px;
    }

    .menu_t_wrap{
        width: 100%;
    }

    .menu_t_l{
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .menu_t_l_wrap{
        display: flex;
    }
    
    .menu_text_t{
        padding-left: 0;
        opacity: 1;
        vertical-align: top;
        margin: 0 45px;
        font-size: 44px;
    }
    
    .menu_text_t::before{
        display: none;
    }
    
    .menu_text_b{
        display: inline-block;
        vertical-align: top;
        color: #ffb500;
        opacity: 0.44;
        margin: 0 45px;
        font-size: 44px;
    }
    
    .menu_text_b::before{
        display: none;
    }

    .menu_bm_wrap{
        width: 100%;
    }
    
    .menu_bm_wrap>p{
        font-size: 34px;
        letter-spacing: -0.02em;
    }
    
    .menu_b>.js-load{
        width: 50%; height: 250px;
        border-top: none;
        border-left: none;
        margin-top: -1px;
        -webkit-transition: all 0s ease !important;
    }

    .menu_b>.js-load:nth-child(1) {
        width: 50%;
    }

    .menu_b>.js-load>a>div{
        width: 60%;
    }
    
    .menu_b>.js-load>a::before{
        position: absolute;
        content: '';
        top: 67%; left: -7px; right: -4px;
        width: 130px; height: 130px;
        margin-top: -100px;
    }
    
    .menu_b>.js-load figcaption{
        margin-top: -1.5%;
    }

    .menu_b>.js-load:nth-child(4n){
        border-right: none;
        border-bottom: none;
    }

    .menu_b>.js-load {
        display: none;
    }

    .menu_b>.js-load.active {
        display: block;
    }

    .menu_b>.js-load>a>.menu_bm_img{
        width: 65%;
    }

    .menu_b>.js-load>a>.menu_bm_img{
        width: 60%;
    }


    /********* max-width: 767px *******/
}




@media only screen and (max-width: 480px) {

    .menu_t_wrap{
        width: 100%;
    }

    .menu_bm_wrap{
        width: 100%;
    }

    .menu_b>.js-load>a::before{
        position: absolute;
        content: '';
        top: 100%; left: -2px; right: -4px;
        width: 90px; height: 90px;
        margin-top: -100px;
    }

    .menu_b>.js-load.active {
        height: 200px;
    }

    .menu_b>.js-load figcaption{
        font-size: 12px;
    }

    /********* max-width: 480px *******/
}